.button {
  background-color: var(--background);
  opacity: 0.7;
  color: var(--muted-foreground);
  border: 2px solid var(--border);
  border-radius: 8px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
}

.active {
  opacity: 1;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  color: var(--white);
}

@media screen and (max-height: 700px) {
  .button {
    font-size: 20px;
    padding: 2px 5px;
  }
}
