.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.mapWrapper {
  height: 80%;
  border-radius: 20px;
  border: 2px solid var(--border);
  overflow: hidden;
}

.error {
  color: var(--red);
  font-size: 12px;
  margin-left: 10px;
  display: block;
}
