.button {
  background-color: var(--background);
  color: var(--muted-foreground);
  border: 2px solid var(--border);
  border-radius: 8px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-height: 700px) {
  .button {
    font-size: 20px;
  }
}
