.point {
  background-color: var(--blue);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  height: min-content;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.pointContent {
  background-color: var(--white);
  border-radius: 50%;
  min-width: 30px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
