.cardContainer {
  padding-top: 40px;
  padding-inline: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .cardContainer {
    padding-inline: 0;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
