.page {
  width: 100%;
  height: 100%;
  display: flex;
}

.content {
  flex: 1;
  height: 100%;
  max-width: 70%;
  margin-inline: auto;
}

@media screen and (max-width: 1500px) {
  .content {
    margin-inline: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .page {
    position: relative;
  }

  .sidebar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: row;
    padding: 10px 0;
    height: auto;
    width: 100%;
    gap: 0;
    background-color: var(--background);
  }
}
